{% extends "asv/base.html" %}
{% load static %}
{% block content %}
<div class="bg-gray-100">
    <div class="space-y-12 container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
       <!-- Heading -->
       <div id="heading-container" class="text-center">
          <h2 class="text-3xl md:text-4xl font-extrabold mb-2">
             Filter From The Controls
          </h2>
       </div>
       <!-- Button Groups: Simple -->
   <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-8 text-center">
      <div>
      <!-- Button Group -->
         <div class="inline-flex">
            <button type="button" data-time-frame="3" class="inline-flex justify-center items-center space-x-2 border font-semibold rounded-l-lg px-4 py-2 leading-6 border-blue-700 bg-blue-700 text-white hover:z-1 hover:text-white hover:bg-blue-600 hover:border-blue-600 focus:z-1 focus:ring focus:ring-blue-400 focus:ring-opacity-50 active:z-1 active:bg-blue-700 active:border-blue-700 dark:focus:ring-blue-400 dark:focus:ring-opacity-90">
               3 Months
            </button>
            <button type="button" data-time-frame="6" class="inline-flex justify-center items-center space-x-2 border font-semibold rounded-l-lg px-4 py-2 leading-6 border-gray-200 bg-white text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700">
               6 Months
            </button>
            <button type="button" data-time-frame="9" class="inline-flex justify-center items-center space-x-2 border font-semibold rounded-l-lg px-4 py-2 leading-6 border-gray-200 bg-white text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700">
               9 Months
            </button>
         </div>
      </div>
      <!-- END Button Groups: Simple -->
       <div id="top-cards-container">
         <div class="grid grid-cols-1 md:grid-cols-3 gap-4 lg:gap-8 mt-8 text-center">
            <!-- Card -->
            <div id="filtered-vehicles-counter-container" style="display: none;" class="flex flex-col rounded-lg shadow-sm bg-white overflow-hidden dark:text-gray-100 dark:bg-gray-800">
               <div class="p-5 grow">
               <dl class="space-y-1 py-5">
                  <dt class="text-3xl font-bold" id="filtered-vehicles-counter">
                  </dt>
                  <dd class="font-medium text-gray-500 dark:text-gray-400">
                     Vehicles
                  </dd>
               </dl>
               </div>
            </div>
            <!-- END Card -->

            <!-- Card -->
            <div id="filtered-vehicles-average-container" style="display: none;" class="flex flex-col rounded-lg shadow-sm bg-white overflow-hidden dark:text-gray-100 dark:bg-gray-800">
               <div class="p-5 grow">
               <dl class="space-y-1 py-5">
                  <dt class="text-3xl font-bold" id="filtered-vehicles-average">
                  </dt>
                  <dd class="font-medium text-gray-500 dark:text-gray-400">
                     ASV
                  </dd>
               </dl>
               </div>
            </div>
            <!-- END Card -->

            <!-- Card -->
            <div id="filtered-vehicles-toggle" style="display: none;" class="flex flex-col rounded-lg shadow-sm bg-white overflow-hidden dark:text-gray-100 dark:bg-gray-800">
               <div class="p-5 grow">
               <dl class="space-y-1 py-5">
                  <button type="button" class="inline-flex justify-center items-center space-x-2 border font-semibold rounded-lg px-4 py-2 leading-6 text-sm border-emerald-700 bg-emerald-700 text-white hover:text-white hover:bg-emerald-600 hover:border-emerald-600 focus:ring focus:ring-emerald-400 focus:ring-opacity-50 active:bg-emerald-700 active:border-emerald-700 dark:focus:ring-emerald-400 dark:focus:ring-opacity-90">
                     See Details
                   </button>
               </dl>
               </div>
            </div>
            <!-- END Card -->
         </div>
       </div>
       <div id="filter-container" class="lg:w-2/3 mx-auto bg-white p-5 md:p-10 rounded-lg shadow-sm">
          <form class="space-y-6" id="filter-trucks-form">
            <input id="sale__sale_date__gte" name="sale__sale_date__gte" type="hidden" value=3 />
            <div class="space-y-6 sm:space-y-0 sm:flex sm:space-x-3">
                <div class="space-y-1 grow">
                    <label class="font-medium" for="vehicle_details__year">Year</label>
                    <select class="w-full block border border-gray-200 rounded px-3 py-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" id="vehicle_details__year" name="vehicle_details__year">
                     <option value=""></option>
                     {% for year in years %}
                        <option value="{{ year.year }}">{{ year.year }}</option>
                     {% endfor %}
                    </select>
                </div>
                <div class="space-y-1 grow">
                    <label class="font-medium" for="vehicle_details__make__make">Make</label>
                    <select class="w-full block border border-gray-200 rounded px-3 py-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" id="vehicle_details__make__make" name="vehicle_details__make__make">
                       <option value=""></option>
                       {% for make in makes %}
                        <option value="{{ make.make }}">{{ make.make }}</option>
                       {% endfor %}
                    </select>
                </div>
             </div>
             <div class="space-y-6 sm:space-y-0 sm:flex sm:space-x-3">
                <div class="space-y-1 grow">
                    <label class="font-medium" for="vehicle_details__model__model">Model</label>
                    <select class="w-full block border border-gray-200 rounded px-3 py-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" id="vehicle_details__model__model" name="vehicle_details__model__model">
                        <option value=""></option>
                        {% for model in models %}
                           <option value="{{ model.model }}">{{ model.model }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="space-y-1 grow">
                  <label class="font-medium" for="vehicle_details__trim__trim">Trim</label>
                  <select class="w-full block border border-gray-200 rounded px-3 py-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" id="vehicle_details__trim__trim" name="vehicle_details__trim__trim">
                      <option value=""></option>
                      {% for trim in trims %}
                         <option value="{{ trim.trim }}">{{ trim.trim }}</option>
                      {% endfor %}
                  </select>
               </div>
             </div>
             <div class="space-y-6 sm:space-y-0 sm:flex sm:space-x-3">
                 <div class="space-y-1 grow">
                     <label class="font-medium" for="vehicle_details__cabtype">Cab Type</label>
                     <select class="w-full block border border-gray-200 rounded px-3 py-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" id="vehicle_details__cabtype" name="vehicle_details__cabtype">
                        <option value=""></option>
                        {% for cabtype in cabtypes %}
                           <option value="{{ cabtype.cabtype }}">{{ cabtype.cabtype }}</option>
                        {% endfor %}
                     </select>
                 </div>
                 <div class="space-y-1 grow">
                     <label class="font-medium" for="vehicle_details__fueltype">Fuel Type</label>
                     <select class="w-full block border border-gray-200 rounded px-3 py-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" id="vehicle_details__fueltype" name="vehicle_details__fueltype">
                        <option value=""></option>
                        {% for fueltype in fueltypes %}
                           <option value="{{ fueltype.fueltype }}">{{ fueltype.fueltype }}</option>
                        {% endfor %}
                     </select>
                  </div>
              </div>
              <div class="space-y-6 sm:space-y-0 sm:flex sm:space-x-3">
               <div class="space-y-1 grow">
                   <label class="font-medium" for="vehicle_details__enginesize">Engine Size</label>
                   <select class="w-full block border border-gray-200 rounded px-3 py-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" id="vehicle_details__enginesize" name="vehicle_details__enginesize">
                      <option value=""></option>
                      {% for enginesize in enginesizes %}
                         <option value="{{ enginesize.enginesize }}">{{ enginesize.enginesize }}</option>
                      {% endfor %}
                   </select>
               </div>
               <div class="space-y-1 grow">
                   <label class="font-medium" for="vehicle_details__odometerreadingtypedescription">Odometer Reading Descr.</label>
                   <select class="w-full block border border-gray-200 rounded px-3 py-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" id="vehicle_details__odometerreadingtypedescription" name="vehicle_details__odometerreadingtypedescription">
                      <option value=""></option>
                      {% for odometerreadingtypedescription in odometerreadingtypedescriptions %}
                         <option value="{{ odometerreadingtypedescription.odometerreadingtypedescription }}">{{ odometerreadingtypedescription.odometerreadingtypedescription }}</option>
                      {% endfor %}
                   </select>
                </div>
               </div>
               <div class="space-y-6 sm:space-y-0 sm:flex sm:space-x-3">
                  <div class="space-y-1 grow">
                      <label class="font-medium" for="vehicle_details__drivelinetype">Drive Line Types</label>
                      <select class="w-full block border border-gray-200 rounded px-3 py-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" id="vehicle_details__drivelinetype" name="vehicle_details__drivelinetype">
                         <option value=""></option>
                         {% for drivelinetype in drivelinetypes %}
                            <option value="{{ drivelinetype.drivelinetype }}">{{ drivelinetype.drivelinetype }}</option>
                         {% endfor %}
                      </select>
                  </div>
                  <div class="space-y-1 grow">
                      <label class="font-medium" for="vehicle_details__vehicle_condition__starts_at_checkin">Starts At Check In</label>
                      <select class="w-full block border border-gray-200 rounded px-3 py-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" id="vehicle_details__vehicle_condition__starts_at_checkin" name="vehicle_details__vehicle_condition__starts_at_checkin">
                         <option value=""></option>
                         {% for option in starts_at_checkin %}
                            <option value="{{ option }}">{{ option }}</option>
                         {% endfor %}
                      </select>
                  </div>
               </div>
               <div class="space-y-6 sm:space-y-0 sm:flex sm:space-x-3">
                  <div class="space-y-1 grow">
                      <label class="font-medium" for="vehicle_details__vehicle_condition__runs_and_drives">Runs & Drives</label>
                      <select class="w-full block border border-gray-200 rounded px-3 py-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" id="vehicle_details__vehicle_condition__runs_and_drives" name="vehicle_details__vehicle_condition__runs_and_drives">
                         <option value=""></option>
                         {% for option in runs_and_drives %}
                            <option value="{{ option }}">{{ option }}</option>
                         {% endfor %}
                      </select>
                  </div>
                  <div class="space-y-1 grow">
                      <label class="font-medium" for="vehicle_details__vehicle_condition__air_bags_deployed">Air Bags Deployed</label>
                      <select class="w-full block border border-gray-200 rounded px-3 py-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" id="vehicle_details__vehicle_condition__air_bags_deployed" name="vehicle_details__vehicle_condition__air_bags_deployed">
                         <option value=""></option>
                         {% for option in air_bags_deployed %}
                            <option value="{{ option }}">{{ option }}</option>
                         {% endfor %}
                      </select>
                  </div>
               </div>
               <div class="space-y-6 sm:space-y-0 sm:flex sm:space-x-3">
                  <div class="space-y-1 grow">
                      <label class="font-medium" for="vehicle_details__vehicle_condition__damage_description_primary">Damage Descr. Primary</label>
                      <select class="w-full block border border-gray-200 rounded px-3 py-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" id="vehicle_details__vehicle_condition__damage_description_primary" name="vehicle_details__vehicle_condition__damage_description_primary">
                         <option value=""></option>
                         {% for damage_description_primary in damage_description_primarys %}
                            <option value="{{ damage_description_primary.damage_description_primary }}">{{ damage_description_primary.damage_description_primary }}</option>
                         {% endfor %}
                      </select>
                  </div>
                  <div class="space-y-1 grow">
                     <label class="font-medium" for="vehicle_details__vehicle_condition__loss_type">Loss Types</label>
                     <select class="w-full block border border-gray-200 rounded px-3 py-2 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" id="vehicle_details__vehicle_condition__loss_type" name="vehicle_details__vehicle_condition__loss_type">
                        <option value=""></option>
                        {% for loss_type in loss_types %}
                           <option value="{{ loss_type.loss_type }}">{{ loss_type.loss_type }}</option>
                        {% endfor %}
                     </select>
                 </div>
               </div>
             <button type="submit" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-3 py-2 leading-5 text-sm rounded border-blue-700 bg-blue-700 text-white hover:text-white hover:bg-blue-800 hover:border-blue-800 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700">
               Submit
             </button>
             <button id="reset-filters-button" type="button" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-3 py-2 leading-5 text-sm rounded border-rose-700 bg-rose-700 text-white hover:text-white hover:bg-rose-600 hover:border-rose-600 focus:ring focus:ring-rose-400 focus:ring-opacity-50 active:bg-rose-700 active:border-rose-700 dark:focus:ring-rose-400 dark:focus:ring-opacity-90">
               Reset
             </button>
          </form>

          <div class="grid grid-cols-1 md:grid-cols-3 gap-4 lg:gap-8 mt-8 text-center">
            <!-- Card -->
            <div id="data-counter-container" style="display: none;" class="flex flex-col rounded-lg shadow-sm bg-white overflow-hidden dark:text-gray-100 dark:bg-gray-800">
               <div class="p-5 grow">
               <dl class="space-y-1 py-5">
                  <dt class="text-3xl font-bold" id="data-counter">
                  </dt>
                  <dd class="font-medium text-gray-500 dark:text-gray-400">
                     Vehicles
                  </dd>
               </dl>
               </div>
            </div>
            <!-- END Card -->

            <!-- Card -->
            <div id="data-average-container" style="display: none;" class="flex flex-col rounded-lg shadow-sm bg-white overflow-hidden dark:text-gray-100 dark:bg-gray-800">
               <div class="p-5 grow">
               <dl class="space-y-1 py-5">
                  <dt class="text-3xl font-bold" id="data-average">
                  </dt>
                  <dd class="font-medium text-gray-500 dark:text-gray-400">
                     ASV
                  </dd>
               </dl>
               </div>
            </div>
            <!-- END Card -->

            <!-- Card -->
            <div id="details-toggle" style="display: none;" class="flex flex-col rounded-lg shadow-sm bg-white overflow-hidden dark:text-gray-100 dark:bg-gray-800">
               <div class="p-5 grow">
               <dl class="space-y-1 py-5">
                  <button type="button" class="inline-flex justify-center items-center space-x-2 border font-semibold rounded-lg px-4 py-2 leading-6 text-sm border-emerald-700 bg-emerald-700 text-white hover:text-white hover:bg-emerald-600 hover:border-emerald-600 focus:ring focus:ring-emerald-400 focus:ring-opacity-50 active:bg-emerald-700 active:border-emerald-700 dark:focus:ring-emerald-400 dark:focus:ring-opacity-90">
                     See Details
                   </button>
               </dl>
               </div>
            </div>
            <!-- END Card -->
         </div>

       </div>

      <!-- Tables: Bordered -->
      <div id="table-container" style="display: none;" class="border border-gray-200 rounded overflow-x-auto min-w-full bg-white dark:bg-gray-800 dark:border-gray-700">
         <!-- Table -->
         <table id="data-table" class="min-w-full text-sm align-middle whitespace-nowrap">
         <!-- Table Header -->
         <thead>
            <tr id="data-table-heading-row" class="border-b border-gray-100 dark:border-gray-700/50"></tr>
         </thead>
         <!-- END Table Header -->
      
         <!-- Table Body -->
         <tbody id="data-table-body"></tbody>
         <!-- END Table Body -->
         </table>
         <!-- END Table -->
      </div>
      <!-- END Responsive Table Container -->
    </div>
 </div>
 
 <script type="module" src="{% static 'asv/filter.js' %}"></script>
  {% endblock %}